body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Contenedor del formulario */
  form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Título del formulario */
  h1 {
    font-size: 1.8rem;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Campos del formulario */
  form div {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    color: #555555;
    display: block;
    margin-bottom: 5px;
  }
  
  select,
  input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
  }
  
  select:focus {
    border-color: #007bff;
  }
  
  /* Botón de envío */
  button {
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Mensaje */
  pe {
    margin-top: 15px;
    text-align: center;
    color: green;
    font-weight: bold;
  }

  .detailsBtn {
    width: 50%; 
    margin-top: 10px;
    padding: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1a237e; 
  }
  
  .detailsBtn:hover {
    background-color: #3949ab; 
  }
  
  /* Adaptabilidad para pantallas pequeñas */
  @media (max-width: 480px) {
    form {
      padding: 15px 20px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    button {
      font-size: 0.9rem;
    }
  }