.homeContainer {
  padding: 20px;
  text-align: center;
}


.activityList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px ;
  max-width: 1000px; 
  margin: 0 auto;
  padding: 20px 0;
}

.activityCard {
  width: 250px; 
  text-align: center;
}

.inscriptionButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  gap: 10px;
}

.inscriptionButton:hover {
  background-color: #0056b3;
}